<div class="row">
    <div class="col-xs-6">
        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label>Title post </label>
                <input type="text" class="form-control" ng-model="post.title" placeholder="Enter title"
                       maxlength="128">

            </div>

            <div class="form-group">
                <label>Content post</label>
                <textarea ng-model="post.content" class="form-control" placeholder="Enter content" rows="6"
                          maxlength="500"></textarea>
            </div>

            <label>Select status:&nbsp;</label>
            <button type="button" class="btn btn-default" ng-model="post.status" data-html="1"
                    data-animation="am-flip-x"
                    ng-options="icon.value as icon.label for icon in icons" bs-select>
                Action <span class="caret"></span>
            </button>

            <hr>

            <div class="btn-group">
                <button type="submit" ng-click="save()" class="btn btn-success">Submit</button>
                <a href="post" class="btn btn-default">Cancel</a>
            </div>

        </form>
    </div>
    <div class="col-xs-6">
        <h1>{{post.title}}</h1>

        <div ng-bind-html="viewContent()"></div>
    </div>
</div>
