<div class="btn-group pull-right">
    <a class="btn btn-primary" ng-href="post/{{post.id}}/edit"><span class="glyphicon glyphicon-edit"></span></a>
    <a class="btn btn-danger" ng-href="post/{{post.id}}/delete"><span class="glyphicon glyphicon-remove"></span></a>
</div>
<h1>{{post.title}}</h1>
<h3 class="sub-header">Author: {{post.author.username}}</h3>
<p>
    {{post.content}}
</p>

<div class="badge badge-important">{{post.tags}}</div>

<hr>
<div ng-show="post.comments">
    Comments:
    <p ng-repeat="comment in post.comments">
        {{comment.content}}
    </p>
</div>
<div ng-hide="post.comments">
    No comments
</div>

<hr>
<details>
    <summary>JSON DATA</summary>
    <pre>{{post | json}}</pre>
</details>