<div class="row">

    <div class="col-xs-4 col-xs-offset-4">

        <form role="form">
            <div class="form-group">
                <label for="login">Login</label>
                <input ng-model="model.username" class="form-control" id="login" placeholder="Enter login" autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" ng-model="model.password" class="form-control" id="password"
                       placeholder="Enter password">
            </div>
            <p class="hint-block">type demo/demo</p>

            <button type="submit" ng-click="login()" class="btn btn-default">Submit</button>

        </form>

    </div>

</div>
