<div class="jumbotron page-header">
    <div class="container">
        <h1 class="text-center">Welcome to App</h1>

        <div class="row">
            <div class="col-xs-5">
                <div class="">
                    <div class="caption  text-info text-center">
                        <h3>Client Side - Angular JS App</h3>
                    </div>
                    <img src="https://github.com/angular/angular.js/blob/master/images/logo/AngularJS.exports/AngularJS-medium.png?raw=true"
                         alt="AngularJS" class="img-responsive">
                </div>
            </div>
            <div class="col-xs-5 col-xs-offset-2">
                <div>
                    <div class="text-info text-center">
                        <h3> Server Side - Rest Yii2</h3>
                    </div>
                    <img src="http://static.yiiframework.com/files/logo/yii.png" class="img-responsive"
                         alt="Yii 2">
                </div>
            </div>
        </div>
    </div>
</div>
