<div class="text-center">

    <div>
        <h1 class="text-danger">Welcome to Demo App</h1>
        <a class="btn btn-lg btn-default" href="https://github.com/githubjeka/angular-yii2">Download on GitHub</a>
    </div>

    <hr>
    <h1>This is demo application built with</h1>
    <hr>
    <div class="row">

        <div class="col-xs-6">
            <img src="https://github.com/angular/angular.js/blob/master/images/logo/AngularJS.exports/AngularJS-medium.png?raw=true"
                 alt="AngularJS" class="img-responsive">
        </div>

        <div class="col-xs-6">
            <h3>Client Side - <a href="http://angularjs.org/">AngularJS</a></h3>

            <p>Client address - <a href="http://angularyii2.github.io/">http://angularyii2.github.io</a></p>
        </div>

    </div>

    <hr>
    <h1 class="">and</h1>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <img src="http://upload.wikimedia.org/wikipedia/en/6/6b/Yii-logo-transparent.png" class="img-responsive"
                 alt="Yii 2">
        </div>

        <div class="col-xs-6">

            <h3> Server Side - <a href="https://github.com/yiisoft/yii2">Yii PHP Framework Version 2 REST</a></h3>

            <p>Server address - <a href="https://www.heroku.com/‎">http://rest-yii2.herokuapp.com</a></p>
            <p><a href="https://github.com/yiisoft/yii2/blob/master/docs/guide/rest.md">Guide Rest Yii2</a></p>
            <p><a href="https://github.com/yiisoft/yii2/issues/303">and issue</a></p>

        </div>

    </div>
</div>
